<table>
    <tr>
        <th>peliculas_idioma</th>
        <td><input type="text"  id="idioma"></td>
        <td><button onclick="test_api('peliculas_idioma', 'idioma')">Test</button></td>
    </tr>
    <tr>
        <th>peliculas_duracion</th>
        <td><input type="text" id="pelicula"></td>
        <td><button onclick="test_api('peliculas_duracion', 'pelicula')">Test</button></td>
    </tr>
    <tr>
        <th>franquicia</th>
        <td><input type="text" id="franquicia"></td>
        <td><button onclick="test_api('franquicia', 'franquicia')">Test</button></td>
    </tr>
    <tr>
        <th>peliculas_pais</th>
        <td><input type="text" id="pais"></td>
        <td><button onclick="test_api('peliculas_pais', 'pais')">Test</button></td>
    </tr>
    <tr>
        <th>productoras_exitosas</th>
        <td><input type="text" id="productora"></td>
        <td><button onclick="test_api('productoras_exitosas', 'productora')">Test</button></td>
    </tr>
    <tr>
        <th>get_director</th>
        <td><input type="text" id="director"></td>
        <td><button onclick="test_api('get_director', 'director')">Test</button></td>
    </tr>

</table>



<script>
    function test_api(test_function, user_input) {
        user_input  = document.getElementById(user_input).value;
        url = window.location.href + test_function +'/' + user_input
        window.open(url, '_blank');        
    }
</script>
