<div>
    <br>
    <h3>DATA SCIENCE - HENRY - Individual Project Nº1</h3>
</div>
<div>
    <hr/>    
    <h3>API Test</h3>
    <table>
        <tr>
            <th>peliculas_idioma</th>
            <td><input type="text"  id="idioma"></td>
            <td><button onclick="test_api('peliculas_idioma', 'idioma')"> Test </button></td>
        </tr>
        <tr>
            <th>peliculas_duracion</th>
            <td><input type="text" id="pelicula"></td>
            <td><button onclick="test_api('peliculas_duracion', 'pelicula')">Test</button></td>
        </tr>
        <tr>
            <th>franquicia</th>
            <td><input type="text" id="franquicia"></td>
            <td><button onclick="test_api('franquicia', 'franquicia')">Test</button></td>
        </tr>
        <tr>
            <th>peliculas_pais</th>
            <td><input type="text" id="pais"></td>
            <td><button onclick="test_api('peliculas_pais', 'pais')">Test</button></td>
        </tr>
        <tr>
            <th>productoras_exitosas</th>
            <td><input type="text" id="productora"></td>
            <td><button onclick="test_api('productoras_exitosas', 'productora')">Test</button></td>
        </tr>
        <tr>
            <th>get_director</th>
            <td><input type="text" id="director"></td>
            <td><button onclick="test_api('get_director', 'director')">Test</button></td>
        </tr>

        <tr>
            <th>recomendacion</th>
            <td><input type="text" id="recomendacion"></td>
            <td><button onclick="test_api('recomendacion', 'recomendacion')">Test</button></td>
        </tr>


    </table>
</div>

<div>
    <hr/>
    <h3>API Functions Documentation</h3>
    <p>* peliculas_idioma: Return quantity of movies in the given language. E.g. app.route/peliculas_idioma/en</p>
    <p>* peliculas_duracion: Returns movie runtime and release year.  E.g. app.route/peliculas_duracion/Cars </p>       
    <p>* franquicia: Returns movie quantity and revenues.  E.g. app.route/franquicia/toy story collection </p>    
    <p>* peliculas_pais: Returns quantity of movies produced by a given country.  E.g. app.route/peliculas_pais/United States of America </p>
    <p>* productoras_exitosas: Returns revenue and quantity of movies of a given company.  E.g. app.route/productoras_exitosas/TriStar Pictures </p>
    <p>* get_director: Returns director success and list of movies from the given director.  E.g. app.route/get_director/James Cameron </p>
    <p>* recomendaciones: Returns 5 similar movies from the given one.  E.g. app.route/recomendaciones/The Terminator </p>
    <h4>** Note: app.route = IP or deploy link of the API</h4>
</div>

<script>
    function test_api(test_function, user_input) {
        user_input  = document.getElementById(user_input).value;
        url = window.location.href + test_function +'/' + user_input
        window.open(url, '_blank');        
    }
</script>
